


<div class="login">
  <div class="login_flex">
    <img src="/images/wine.jpg" alt="neon" class="login_img">
  </div>
   <div class="login_flex form">
  <form action="/login" method="post">
   
      <h2 class="title_pink "> LOG IN.</h2>
      <div >
        <div>
          {{!-- <label for="email-input"> Email </label> --}}
          <input type="text" name="email" id="email-input" placeholder="E-mail" class="tab">
        </div>
        <br>
        <div>
          {{!-- <label for="password-input"> Password </label> --}}
          <input type="password" name="password" id="password-input" placeholder="Password" class="tab">
        </div>
      </div>
      <br>
      <div>
        <button class="button"> Log In </button>
      </div>
      {{#if errorMessage}}
<p class="error-message">
  {{ errorMessage }}
</p>
{{/if}}
      <div>
        <p class="account"> Don't have an account?<a href="/signup"> Create an account.</a></p>
      </div>
   
  </form>
   </div>
</div>