

{{#if errorMessage}}
<p class="error-message">
  {{ errorMessage }}
</p>
{{/if}}
<div class="login">
  <div>
    <img src="/images/wine.jpg" alt="neon" class="login_img">
  </div>
  <form action="/login" method="post">
    <div class="form">
      <h2 class="title_pink "> Log In </h2>
      <div >
        <div>
          {{!-- <label for="email-input"> Email </label> --}}
          <input type="text" name="email" id="email-input" placeholder="E-mail" class="tab">
        </div>
        <br>
        <div>
          {{!-- <label for="password-input"> Password </label> --}}
          <input type="password" name="password" id="password-input" placeholder="Password" class="tab">
        </div>
      </div>
      <br>
      <div>
        <button class="button"> Log In </button>
      </div>
      <div>
        <p class="account"> Don't have an account?<a href="/signup"> Create an account.</a></p>
      </div>
    </div>
  </form>
</div>