<div class="index">
  <div class="welcome">
    <h1>Welcome! </h1>
    <div class="same_divs">
      <div>
        <p> Host my Bash! is the best platform to spend time with your friends. There are several plans to enjoy! It is
          really
          easy to use, you need to filter by the day that you really want to enhoy the plan, book the service and
          register
          your friends. It is necessary to fill all this information because we could be in contact with you in case
          that
          we detect that there is any COVID case.</p>
      </div>
      <div>
        <p>info@hostmybash.com <br>
          #hostmybash</p>
        <div class="rrss">
          <img src="/images/rrss.png" alt="rrss"> <br>
        </div>
      </div>
      
      <div class="divs_button ">
        <div>
          <a class="button" href='/filter'>Looking for a plan?</a>
        </div>
        <div>
          <a class="button" href='/hotelsignup'>Would you offer a plan?</a>
        </div>
      </div>
    </div>
  </div>
  <div class="same_divs_img">
    <img src="/images/hostmybash.png" alt="logo" class="logo_index">
  </div>
</div>



<!-- validamos que el usuario esté logueado para mostrar diferentes opciones en la navbar-->