html,
body {
  margin: 0px;

  height: 100vh;
}

body {
  font: 14px Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  position: relative;
  min-height: 100%;
  color: #273746;
  padding: 10px;
}

/* COLORES
#FFC1B4-rosa
#8F8F8F-gris oscuro
#D2BB7A-beige
#F7F7F7-gris claro
#FFFFFF */

a {
  color: #d2bb7a;
  text-decoration: none;
}

input[type='text'],
input[type='file'],
input[type='password'],
input[type='phone'] {
  border-top: 1px solid #d2bb7a;
  border-bottom: 1px solid #d2bb7a;
  text-align: center;
  border-right: none;
  border-left: none;
  font-style: italic;
}

/* input[type='file']>button{
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #d2bb7a;
  color: #d2bb7a;
  text-align: center;
  border-radius: 1rem;
  background-color: white;
  text-decoration: none;
  margin: auto;
} */

@media screen and (min-width: 768px) {

  input[type='text'],
  input[type='password'],
  input[type='phone'] {
    font-size: 15px;
  }

}

.navbar {
  width: 100%;
  padding: 5px;
  background-color: white;
  box-sizing: border-box;
  border-bottom: 1px solid #d2bb7a;
}

.navbar .contenido {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 5px;
}

.bars ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 400px;
  justify-content: space-between;
  padding: 0;
  padding-left: 4px;

}


.bars ul li a {
  text-decoration: none;
  color: rgb#D2BB7A;
  transition: 1s;
  text-transform: uppercase;
}

.bars ul li a:hover {
  text-decoration: none;
  color: white;
}

div.title {
  display: flex;
  align-items: center;
  padding-right: 4px;
}

div.title a {
  text-decoration: none;
  color: white;
}

div.title h2 {
  padding: 0;
  margin: 0;
}

.bars-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: none;
  position: fixed;
  z-index: 99;
  left: 7px;
  top: 11px;
  color: #d2bb7a;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar .contenido {
    justify-content: flex-end;
    width: max-content;
  }

  .bars-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bars {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    background-color: white;

  }

  .bars.is-active {
    left: 0;
  }

  .bars ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bars ul li {
    padding: 5px;
  }

  .bars ul li a {
    color: #d2bb7a;
    font-weight: 700;
  }

  div.title h2 {
    padding: 10.5px;
  }
}

.logo_nav {
  width: 100px;

  margin-right: 0px;
}

.index {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  height: 80%;
}

.logo_index {
  width: 150px;
  display: flex;
  align-items: center;
  padding: 50px;
}

.welcome {
  background-color: #d2bb7a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  height: 90%;
}

.button {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #d2bb7a;
  color: #d2bb7a;
  text-align: center;
  border-radius: 1rem;
  background-color: white;
  text-decoration: none;
  margin: auto;

}

.divs_button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100px;
}
.tab_add {
  border-top: 1px solid #d2bb7a;
  border-bottom: 1px solid #d2bb7a;
  text-align: center;
  border-right: none;
  border-left: none;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .index {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
  }

  .welcome {
    flex: 1;
    font-size: 17px;
    padding: 0px 40px;
  }

  .same_divs_img {
    flex: 1;
    display: flex;
    place-content: center;
  }

  .logo_index {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
  }

  .divs_button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100px;
  }
}

.title_pink {
  color: #ffc1b4;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .title_pink {
    margin: 30px 10px;
    /* font-size: 20px; */
  }


}

.img_about {
  width: 200px;
}

.title_beige {
  color: #d2bb7a;
}

.title_grey {
  color: #8F8F8F;
}

.div_aboutus_each {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.tab {
  height: 30px;
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  /* height: 200px; */
}

.account {
  font-size: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .account {
    font-size: 16px;
    text-align: center;
  }

}


.login_img {
  display: none;
}

.register_img {
  display: none;
}

.filter {
  border-radius: 50px;
  border: 2px solid white;
  color: #d2bb7a;
  background-color: white;
  height: 50px;
  width: 200px;
  font-size: 16px;
  text-align: center;
}

.img_filter {
  background: url(../images/filter.jpg) no-repeat center center / cover;
  background-color: rgba(255, 255, 255, 0.719);
  background-blend-mode: lighten;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.booking {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  text-align: center;
  border: 1px solid #d2bb7a;
  border-radius: 50px;
  padding: 10px;

  /* height: 120%; */
}



.kind-reminder {
  background-color: #d2bb7a;
  height: 40%;

}

.kind-reminder h2,
h4,
button {
  display: flex;
  justify-content: center;

  /* text-align: center; */
}


.people {
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
}

.img_booking {
  width: 250px;
  padding-top: 15px;
}

.plan_details {
  padding: 20px;
  height: 50%;
}

.button_pink {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ffc1b4;
  color: #ffc1b4;
  text-align: center;
  border-radius: 1rem;
  background-color: white;
  text-decoration: none;
  margin: auto;
}

.plan_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
}

.plan {
  width: 200px;
  margin: 10px;
  border: 1px solid #d2bb7a;
  padding: 5px;
  text-decoration: none;
  color: #273746;
  text-align: center;
  height: 250px;

}

.plan>img {
  width: 100%;
  object-fit: cover;
  height: 140px;
}

.plan>h3 {
  height: 76px;
}

.plan:hover {
  background-color: #eeddad;
}

.addForm {
  display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {

  .plan {
    width: 300px;
    height: 375px;
  }

}

.bookit {
  padding: 20px;

}

#formGuest {

  display: flex;
  flex-direction: column;
}

#formGuest>button {

  display: flex;
  flex-direction: column;
}

#formGuestDiv {
  margin: 0.5%;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.guest-input {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.guest-input>label {
  width: 45%;
}

.guest-input>input {
  width: 45%;
}

.guest {
  margin: 10px;
  background-color: #F7F7F7;
  text-align: center;
}

.profile_page>.booking {
  margin: 15px;
}

.booking_actions {
  display: flex;
}

.booking_actions>.button {
  margin: 15px;
}

.plan_details>ul {
  margin: 0;
}
.add_img {
  height: 100%;
  background: url(../images/addPlan.jpg) no-repeat center center / cover;
  background-color: rgba(255, 255, 255, 0.719);
  background-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .img_about {
    width: 450px;
  }

  .div_aboutus {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 75%;
    font-size: 20px;
  }

  .login_img {
    width: 100%;
    display: block;
  }

  .login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 85%;

  }

  .login form {
    font-size: 20px;


  }


  .login_flex {
    flex: 1;
  }

  .register_img {
    width: 60%;
    display: block;
  }

  .register {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .register form {
    font-size: 20px;


  }

  .tab {
    height: 40px;
    width: 400px;
  }

  .booking {
    display: flex;
    flex-direction: row;

    justify-content: space-around;

    font-size: 17px;
  }

  .kind-reminder {
    display: flex;
    flex-direction: column;

  }

  .img_booking {
    width: 450px;
    padding: 20px;
  }

  .img_filter {
    height: 500px;
  }

  .details_page {
    max-width: 1060px;
    margin: 0 auto;
  }

  .people {
    font-size: 17px;
  }

  .bookit {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .bookit>button {
    width: 40%;

  }

  .bookit>select {
    width: 40%;

  }
  ;


  .guest-input {
    padding: 10px;
    display: flex;
    width: 30%;


  }

  .guest {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

}

.error-message {
  color: rgb(143, 17, 17)
}

.confirmation_page {
  display: flex;
  flex-direction: row;
}
.confirmation_img {
  display: none;
}


.confirmation_msg {
  flex: 1;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

@media screen and (min-width: 768px) {

  .confirmation_img {
    display: block;
    flex: 1;
    align-content: center;
    
  }
  
  .confirmation_msg {
   
    font-size:17px;
  }
}
.profile_info{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color:#d2bb7adc;
  min-height: 100px;
  color: #F7F7F7;
  margin: 10px;
  border-radius: 30px;
}
.profile_info>.container>h2{
  color: #F7F7F7;
}
.profile_info>.container>p>a{
 
  color: #F7F7F7;
}
.profile_booking>div{
  margin:10px;
  
}
.profile_booking>div>img{
  float: left;
  width: 40%;
}
.profile_picture{
  width: 150px;
  border-radius: 50%;
  margin:auto;
  border:7px double  #ffc1b4;
}
.delete {
  text-align: center;
}
.buttons_hotel_profile{
  margin-top: 40px;
}
@media screen and (min-width: 768px){
  .profile_page{
    display:flex;
    flex-direction: row;
  }
  .profile_booking{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .profile_booking>div{
   font-size: 20px;
  }
  .profile_info{
    width:70%;
    font-size: 20px;
    
  }
  .container{
    align-self: flex-start;
    margin: 30px auto;
  }
  .profile_picture{
    width: 80%;
    border-radius: 50%;
    border:10px double  #ffc1b4;
    
  }
  .profile_extra{
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height:80%;
    
    background-color: rgba(255, 255, 255, 0.514);
    background-blend-mode: lighten;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .photo_add{
    background-image: url(../images/upload_photo);
  }
  .photo_add>button{
    font-size: 30px;
  }
  .booking_edit{
    background-image: url(../images/edit_booking);
  }
  
}



footer {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  height: 30px;
  color: #ffc1b4;
  font-size: 10px;
  text-align: center;

}