body {
  font: 14px Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  position: relative;
  min-height: 100%;
  color: #273746;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* COLORES
#FFC1B4-rosa
#8F8F8F-gris oscuro
#D2BB7A-beige
#F7F7F7-gris claro
#FFFFFF */

a {
  color: #d2bb7a;
}

.navbar {
  width: 100%;
  padding: 5px;
  background-color: white;
  box-sizing: border-box;
  border-bottom: 1px solid #d2bb7a;
}

.navbar .contenido {
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 15px;
  padding-top: 5px;
}
.bars ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 400px;
  justify-content: space-between;
  padding: 0;
  padding-left: 4px;
}
.bars ul li a {
  text-decoration: none;
  color: rgb#D2BB7A;
  transition: 1s;
  text-transform: uppercase;
}
.bars ul li a:hover {
  text-decoration: none;
  color: white;
}
div.title {
  display: flex;
  align-items: center;
  padding-right: 4px;
}
div.title a {
  text-decoration: none;
  color: white;
}
div.title h2 {
  padding: 0;
  margin: 0;
}
.bars-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: none;
  position: fixed;
  z-index: 99;
  left: 7px;
  top: 11px;
  color: #d2bb7a;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar .contenido {
    justify-content: flex-end;
  }
  .bars-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bars {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 98;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    background-color: white;
  }
  .bars.is-active {
    left: 0;
  }
  .bars ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bars ul li {
    padding: 5px;
  }
  .bars ul li a {
    color: #d2bb7a;
    font-weight: 700;
  }
  div.title h2 {
    padding: 10.5px;
  }
}
.logo_nav {
  width: 80px;

  margin-right: 0px;
}
.index {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
.logo_index {
  width: 150px;
  display: flex;
  align-items: center;
  padding: 50px;
}
.welcome {
  background-color: #d2bb7a;
  padding: 20px;
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
.button {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #d2bb7a;
  color: #d2bb7a;
  text-align: center;
  border-radius: 1rem;
  background-color: white;
  text-decoration: none;
  margin: auto;
}

.divs_button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .index {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
  }
  .welcome {
    flex:1;
  }
  .same_divs_img {
   flex:1;
   display: flex;
   place-content: center;
  }
  .logo_index {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
  }

  .divs_button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100px;
  }
}

.title_pink {
  color: #ffc1b4;
  text-decoration: underline;
}

.img_about {
  width: 200px;
}

.title_beige {
  color: #d2bb7a;
}

.title_grey {
  color: #273746;
}
.div_aboutus_each {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.tab {
  height: 30px;
  width: 300px;
  border-top: 1px solid #d2bb7a;
  border-bottom: 1px solid #d2bb7a;
  text-align: center;
  border-right: none;
  border-left: none;
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  /* height: 200px; */
}
.account {
  font-size: 10px;
  text-align: center;
}
.login_img {
  display: none;
}
.register_img {
  display: none;
}

.hotel_list {
  width: 300px;
  border: 1px solid #d2bb7a;
  border-radius: 50px;
  background-color: #d2bb7a;
  color: white;
}
.title_box {
  width: 250px;
  text-align: center;
  margin: 5px;
}
.div_box  {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.seemore {
  color: black;
  text-decoration: none;
  font-weight: 700;
}
.filter {
  border-radius: 50px;
  border: 2px solid white;
  color: #d2bb7a;
  background-color: white;
  height: 50px;
  width: 200px;
  font-size: 16px;
  text-align: center;
}
.img_filter {
  background: url(../images/filter.jpg) no-repeat center center / cover;
  background-color: rgba(255, 255, 255, 0.719);
  background-blend-mode: lighten;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
.calendar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.img_hotels {
  width: 200px;
}
.booking {
 display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  text-align: center;
  border: 1px solid #d2bb7a;
  border-radius: 50px;
  
}
.people {
	text-align: center;
	display: flex;
  justify-content: space-between;
}
.img_booking {
	width: 200px;
	padding-top: 15px
}
.plan_details {
	padding: 20px
}
.button_pink {
	font-size: 1rem;
	padding: 0.5rem;
	border: 1px solid #FFC1B4;
	color: #FFC1B4;
	text-align: center;
	border-radius: 1rem;
	background-color: white;
	text-decoration: none;
	margin: auto;
  }

@media screen and (min-width: 768px) {
  .img_about {
    width: 350px;
  }
  .div_aboutus {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .login_img {
    width: 600px;

    display: flex;
  }
  .login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .register_img {
    width: 400px;

    display: flex;
  }
  .register {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  .tab {
    height: 40px;
    width: 400px;
  }
  .booking {
	display: flex;
	 flex-direction: row;
	 flex-wrap: nowrap;
	 justify-content: space-between;
	 align-items: center;
	 align-content: stretch;
	 text-align: center;
	
	
   }
   .img_booking {
	   width: 350px;
	   padding: 20px;
   }
}
errorMessage{

}
footer {
  position: absolute;
  width: 100%;
  margin-bottom: 0;
  height: 30px;
  color: #ffc1b4;
  font-size: 10px;
  text-align: center;
}
