<div class="addPlan">
    <h2 class="title_pink "> ADD A NEW PLAN.</h2>
    <div class="add_img">
        <form action="/createaplan" method="post" enctype="multipart/form-data">
            <div class="addForm">
                
                <label>Photo</label> <br>
                <input type="file" name="image">
                <input type="text" name="planName" id="planName-input" placeholder="Plan Name" class="tab">
                <input type="text" name="description" id="description-input" placeholder="Description" class="tab">
                <input type="text" name="streetName" id="streetName-input" placeholder="Address" class="tab">
                <input type="number" name="streetNumber" id="streetNumber-input" placeholder="Number" class="tab tab_add">
                <input type="number" name="zipcode" id="zipcode-input" placeholder="Zipcode" class="tab tab_add">
                <input type="text" name="city" id="city-input" placeholder="City" class="tab">
                <input type="number" name="phone" id="phone-input" placeholder="Phone" class="tab tab_add">
                <button type="submit" class="button">ADD</button>
                {{#if errorMessage}}
                <p class="error-message">
                    {{ errorMessage }}
                </p>
                {{/if}}
            </div>
        </form>
    </div>
</div>