<h3>BOOKING DETAILS</h3>

<form action="/booking" method="post">
    <div>
        <label for="user-name-input"> User Name </label>
        <input type="text" name="username" id="name-input" placeholder="UserName">
    </div>

    <div>
        <label for="user -lastname-input"> User Last name </label>
        <input type="text" name="userlastname" id="userlastname-input" placeholder="UserLastname">
    </div>

    <div>
        <label for="user-phone-input"> User Phone number </label>
        <input type="phone" name="phone" id="user-phone-input" placeholder="User Phone number">
    </div>

    <div>
        <label for="name-input"> Attendee 1 Name </label>
        <input type="text" name="attendee1name" id="name-input" placeholder="Attendee 1 Name">
    </div>

    <div>
        <label for="user -lastname-input"> Attendee 1 LastName </label>
        <input type="text" name="attendee1lastname" id="lastname-input" placeholder="Attendee 1 LastName">
    </div>

    <div>
        <label for="user-phone-input"> Attendee 1 Phone number </label>
        <input type="phone" name="attendee1phone" id="phone-input" placeholder="Attendee 1 Phone number">
    </div>
    
    <div>
        <label for="name-input"> Attendee 2 Name </label>
        <input type="text" name="attendee2name" id="name-input" placeholder="Attendee 2 Name">
    </div>

    <div>
        <label for="user -lastname-input"> Attendee 2 LastName </label>
        <input type="text" name="attendee2lastname" id="lastname-input" placeholder="Attendee 2 LastName">
    </div>

    <div>
        <label for="user-phone-input"> Attendee 2 Phone number </label>
        <input type="phone" name="attendee2phone" id="phone-input" placeholder="Attendee 2 Phone number">
    </div>

    <div>
        <label for="name-input"> Attendee 3 Name </label>
        <input type="text" name="attendee3name" id="name-input" placeholder="Attendee 3 Name">
    </div>

    <div>
        <label for="user -lastname-input"> Attendee 3 LastName </label>
        <input type="text" name="attendee3lastname" id="lastname-input" placeholder="Attendee 3 LastName">
    </div>

    <div>
        <label for="user-phone-input"> Attendee 3 Phone number </label>
        <input type="phone" name="attendee3phone" id="phone-input" placeholder="Attendee 3 Phone number">
    </div>

    <div>
        <label for="name-input"> Attendee 4 Name </label>
        <input type="text" name="attendee4name" id="name-input" placeholder="Attendee 4 Name">
    </div>

    <div>
        <label for="user -lastname-input"> Attendee 4 LastName </label>
        <input type="text" name="attendee4lastname" id="lastname-input" placeholder="Attendee 4 LastName">
    </div>

    <div>
        <label for="user-phone-input"> Attendee 4 Phone number </label>
        <input type="phone" name="attendee4phone" id="phone-input" placeholder="Attendee 4 Phone number">
    </div>
    <div>
        <label for="name-input"> Attendee 5 Name </label>
        <input type="text" name="attendee5name" id="name-input" placeholder="Attendee 5 Name">
    </div>

    <div>
        <label for="user -lastname-input"> Attendee 5 LastName </label>
        <input type="text" name="attendee5lastname" id="lastname-input" placeholder="Attendee 5 LastName">
    </div>

    <div>
        <label for="user-phone-input"> Attendee 5 Phone number </label>
        <input type="phone" name="attendee5phone" id="phone-input" placeholder="Attendee 5 Phone number">
    </div>
    <button> BOOK! </button>
</form>