<div class="confirmation_page">
 <div class="confirmation_img">
    <img src="/images/confirmation.jpg" alt="neon" class="login_img">
  {{!-- falta cambiar imagen --}}
  </div>

<div class="confirmation_msg">
    <h2> Your booking is confirmed!</h2>
    <h4>You can view, edit or delete it in your  <a href='/profile'> PROFILE</a></h4>
    <h4>To search for more plans click  <a href='/filter'> HERE</a></h4>
</div>

</div>