<div>
    <h2> Your bookig is confirmed!!!</h2>
    <h4>You can view, edit or delete it in your <a href='/profile'>PROFILE</a></h4>
    <h4>To search for more plans click <a href='/filter'>HERE</a></h4>
</div>