
<div class=" profile_extra photo_add">
<br>
<form class="form"action="/profilephoto" method="post" enctype="multipart/form-data">
    <label class="title_beige">Photo</label><br>
    <input type="file" name="photo" ><br>

    <input type="submit" value="save" class="button_pink">
</form><br>
<a href='/profile'>Go back</a>
</div>