
<div class=" profile_extra photo_add">
<br>
<form class="form"action="/profilephoto" method="post" enctype="multipart/form-data">
    <h2><label class="title_beige">PHOTO.</label><br></h2>
    <input type="file" name="photo" ><br>

    <input type="submit" value="Save" class="button_pink">
</form><br>
<a href='/profile'>Go back</a>
</div>