<div class="title_pink">
    <h1>ABOUT US:</h1>
</div>

<div>
    <div class="div_aboutus ">
        <img class="img_about" src="/images/Claudia.jpg">
        <div>
        <h2 class="names">Claudia.</h2>
        <p>Lawyer.<br>
            Future Web Developer.<br>
            "Enjoy" is my favourite word.
        </p>
        </div>
    </div>
    <div class ="div_aboutus ">
        <div>
        <h2 class="names">Carla.</h2>
        <p>Project Manager.<br>
            Future Web Developer.<br>
            "Toasting" is one of my favourite hobbies.
        </p>
        </div>
        <img class="img_about" src="/images/Carla.jpg">
        
    </div>
</div>