<div class="title_pink">
    <h1>ABOUT US.</h1>
</div>

<div class="div_aboutus">
    <div class="div_aboutus_each">
        <img class="img_about" src="/images/Claudia.jpg">
        <div>
        <h2 class="title_beige ">Claudia.</h2>
        <p>Lawyer.<br>
            Future Web Developer.<br>
            "Enjoy" is my favourite word.
        </p>
        </div>
    </div>
    <div class ="div_aboutus_each">
        <div>
        <h2 class="title_beige ">Carla.</h2>
        <p>Project Manager.<br>
            Future Web Developer.<br>
            "Toasting" is one of my favourite hobbies.
        </p>
        </div>
        <img class="img_about" src="/images/Carla.jpg">
        
    </div>
</div>