<h1>HOLA ESTÁS EN FILTER</h1>


<form action="/list" method="get">
<label for="start" >Select your date</label>

<input type="date" id="start" name="day"
       value=""
       min="" max="2222-12-31">

<button type="submit">SEARCH</button>

</form>