<h1>HOLA ESTÁS EN FILTER</h1>


<form action="/list" method="get">
<label for="start" >Select your date</label>

<input type="date" id="start" name="day"
       value=""
       min="" max="2222-12-31"
       default="1993-02-14">

<button type="submit">SEARCH</button>

</form>

<div class='errorMessage' id='errorFilter'></div>

<!-- validamos que el usuario esté logueado para mostrar diferentes opciones en la navbar-->
  {{#if isUserLoggedIn}}
      <li> <a href="/logout"> Log Out </a> </li>
      <li> <a href="/profile"> Profile
       </a> </li>
      
 
    {{else}}
     <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li> 
  {{/if}}

