<h1 class="title_pink">HOST MY HASH.</h1>


<form action="/list" method="get">
<label for="start" >Select your date</label>

<input type="date" id="start" name="day"
       value=""
       min="" max="2222-12-31"
       default="1993-02-14">

<button type="submit" class>SEARCH</button>

</form>

<div class='errorMessage' id='errorFilter'></div>

