<h2>Hotels List</h2>
<h3>Click on the hotel to check the more information!</h3>
<div >
   {{#each }}
   <div >
      <img src="{{this.image}}" alt="portada" class="image">
      <h4>{{this.title}}</h4>
      <a href="">See more</a>
   </div>
   {{/each}}
</div>